/* BureauPartner.css */

.bureau-partner {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content horizontally */
    justify-content: center; /* Center align content vertically */
    padding: 10px;
    background-color: white; /* Example background color */
    color: #3e2780;
    margin-top: 30px;
}

.bureau-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Adjust margin below heading */
    text-align: center; /* Center align heading */
    font-family: 'Open Sans', sans-serif;
}

.logo-container-b {
    display: flex;
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
}

.bureau-logo {
    max-width:50%; /* Ensure logo fits within its container */
    height: auto; /* Maintain aspect ratio */
    margin-top: 10px; /* Adjust margin above logo */
}
.bureau-heading {
    font-size: 50px; /* Adjust font size for mobile */
}
@media (max-width: 768px) {
    .bureau-heading {
        font-size: 30px; /* Adjust font size for mobile */
    }
    .bureau-logo {
        max-width:40%; /* Ensure logo fits within its container */
        height: auto; /* Maintain aspect ratio */
        margin-top: 10px; /* Adjust margin above logo */
    }
}
