
/* FAQ Section Styles */
.faq-item1{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    
    border-radius: 5px;
    margin-bottom: 10px; /* Adjust margin between FAQ items */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}
.faq-answer1{
    color: black;
    font-size: 20px;
}
  
  .verify-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3e2780;
    color: #fff;
    font-size: 16px;
  }
  

.faq-question1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.arrow {
    font-size: 14px;
    transition: transform 0.3s ease; /* Smooth arrow rotation transition */
}

.arrow.expanded {
    transform: rotate(180deg); /* Rotate arrow when expanded */
}

.faq-answer1 {
    margin-top: 10px; /* Margin above answer */
    font-family: 'Open Sans', sans-serif;
   
}

.faq-answer1 p {
    margin: 0; /* Remove default margin for paragraphs */
}
/* CreditScore.css */

.container-c {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.left-side {
    padding: 20px;
}

.right-side {
    padding: 20px;
}
.left-side p{
    color: black;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}
.left-side h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3e2780;
    font-family: 'Open Sans', sans-serif;
}

.form1 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    margin-top: 20px;
    max-width: 400px; /* Adjust the max-width as needed */
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Adjust the margin between input groups */
}

.input-group input, .input-group textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px; /* Adjust the margin between inputs */
}

.checkbox-group {
    display: flex;
    align-items: flex-start; /* Align items at the start of the container */
    margin-bottom: 10px;
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
    max-height: 40px; /* Limit height and enable scrollbar */
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0px; /* Space between checkbox and text */
}

.conditions {
    font-size: 14px;
    line-height: 1.4;
    max-width: calc(100% - 30px); /* Adjust as needed */
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; /* Adjust margin as needed */
}

.send-otp-button {
    padding: 10px;
    width: 50%; /* Button width set to 50% of its container */
    font-size: 16px;
    background-color: #3e2780;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #572d91; /* Darker shade of purple for hover effect */
}

.image {
    max-width: 100%;
}

@media (max-width:768px){
    .left-side p{
        color: black;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }
    .left-side h2 {
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #3e2780;
        font-family: 'Open Sans', sans-serif;
    }
    .faq-question1{
        font-size: 17px;
        font-family: 'Open Sans', sans-serif;
    }
    .faq-answer1{
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .otp-container {
    
        /* transition: opacity 0.3s ease; */
        height: 10%;
        text-align: left;
        padding: 20px;
        border-radius: 8px;
      }
      
      /* .otp-container.visible {
        opacity: 1;
      } */
      .terms-text{
        font-size: 16px;
      }
      .otp-container h2 {
        /* text-align: center; */
        margin-bottom: 20px;
        color: #3e2780;
        /* padding: 5px 10px */
        padding-top: 2px;
      }
      
      .otp-inputs {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
      
      .otp-inputs input {
        width: 20px;
        height: 20px;
        margin: 0 10px;
        text-align: center;
        font-size: 14px;
        border: 1px solid #3e2780;
        border-radius: 4px;
      }
      
      .otp-inputs input:focus {
        border-color: #3e2780;
        outline: none;
      }
      
    
}
@media (min-width: 768px) {
    .container-c{
        grid-template-columns: 1fr 1fr;
    }

    .form1 {
        max-width: 100%;
    }
    .otp-container {
    
        /* transition: opacity 0.3s ease; */
        text-align: left;
        padding: 20px;
        border-radius: 8px;
      }
      
      /* .otp-container.visible {
        opacity: 1;
      } */
      
      .otp-container h2 {
        /* text-align: center; */
        margin-bottom: 20px;
        color: #3e2780;
        /* padding: 5px 10px */
        padding-top: 2px;
      }
      
      .otp-inputs {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
      }
      
      .otp-inputs input {
        width: 25px;
        height: 30px;
        margin: 0 10px;
        text-align: center;
        font-size: 18px;
        border: 1px solid #3e2780;
        border-radius: 4px;
      }
      
      .otp-inputs input:focus {
        border-color: #3e2780;
        outline: none;
      }
      
}
