.moreinfocomp {
    text-align: center;
  }
  
  .image-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-container {
    position: relative; /* Ensure arrows are positioned relative to images */
    margin: 0 50px; /* Adjust space between images */
    max-width: 400px; /* Adjust image size as needed */
  }
  .image-name {
    position: absolute;
    bottom: 0px; /* Adjust distance from the bottom */
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for text */
    padding: 0px;
    margin: 0;
  }
  .slide-image {
    height: auto; /* Allow the height to adjust according to width */
    max-width: 100%; /* Ensure the image does not exceed its container */
    display: block; /* Ensure image behaves as a block element */
    margin: 0 auto; /* Center align image horizontally */
  }
  .arrows {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px; /* Adjust arrow font size */
    color: #3e2780;
  }
  
  .arrow-left {
    left: 10px; /* Adjust left position for left arrow */
  }
  
  .arrow-right {
    right: 10px; /* Adjust right position for right arrow */
  }
  .youtube-video {
    width: 100%;
    max-width: 100vw;  /* Ensure the video container doesn't exceed viewport width */
    overflow: hidden;  /* Hide any overflow from the video */
    margin-top: 5%;  /* Adjust margin as needed */
  }
  @media (max-width: 768px) {
    .image-slider {
      flex-wrap: nowrap; /* Ensure images are in a single row */
      overflow-x: auto; /* Enable horizontal scrolling for images */
      -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
      scroll-snap-type: x mandatory; /* Enable snapping to each image */
    }
  
    .image-container {
      scroll-snap-align: start; /* Ensure each image snaps to the start of the viewport */
      max-width: 100%; /* Adjust max-width for mobile view */
    }
  
    .slide-image {
      scroll-snap-stop: always; /* Ensure image stops on scroll */
    }
  }
  