/* GridContainer.module.css */
.keypartnerhead{
    font-weight: bold;
}
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as per your design needs */
    gap: 10px; /* Adjust spacing between columns */
  
    background-color:rgba(62, 39, 128, 0.29);
    width: 100%;
   
   
   

  }
  
  .gridItem {
    flex: 5 5 50%; /* Adjust width of grid items for responsive design */
    min-width: 0; /* Prevent items from expanding beyond container */
    /* background-color: #f0f0f0; Example background color */
    padding: 10px; /* Example padding */
    text-align: center; /* Example center alignment */
  }

  @media screen and (min-width: 769px){
    .gridItem {
      flex: 1 1 18%; /* Adjust width of grid items for responsive design */
      min-width: 0; /* Prevent items from expanding beyond container */
      /* background-color: #f0f0f0; Example background color */
      padding: 10px; /* Example padding */
      text-align: center; /* Example center alignment */
    }
    .NewKeyPartnersImg1{
        height: 100%;
        width: 60%;
        margin-top: 10px;
    }
    .NewKeyPartnersImg2{
        margin-top: 20px;
        height:50%;
        width: 40%;
    }

    .NewKeyPartnersImg{
        height: 100px;
        width: 100px;
    }
    
    

  }
  
  @media screen and (max-width: 768px) {
    .NewKeyPartnersImg{
        height: 60px;
        width: 60px;
        margin-top:10px;
        max-width: 100%;
      
       
        
    }
    .NewKeyPartnersImg1{
        margin-top: 10px;
    height: 40px;
    }
    .NewKeyPartnersImg2{
        margin-top: 20px;
        width: 70px;
    }
    .gridItem {
      flex-basis: calc(20% - 20px); /* Adjust based on gap and number of columns */
    }
  }
  