.step-sect {
    padding: 5px;
    padding-top: 20px;
  }
  
  .step-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    /* padding: 20px; */
    width: 100%;
    /* margin: 20px auto; */
  }
  .step-indicator2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2px;
    /* padding: 20px; */
    width: 100%;
    /* margin: 20px auto; */
    margin-bottom: 20px;
  }
  
  .step-sect h2 {
    text-align: center;
    font-size: 30px;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step-text{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .step-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3e2780;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    position: relative; /* Added */
  }
  
  .step-text {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 25px;
  }
  
  .step:last-child .step-circle::after {
    display: none; /* Hide the line after the last circle */
  }
  
  @media (max-width: 768px) {
    .step-indicator{
      flex-direction: row;
      align-items: flex-start;
    }
  
    .step {
      /* margin-bottom: 20px; */
    }
  
    .step-circle {
      width: 40px;
      height: 40px;
      font-size: 1rem; /* Adjust font size for smaller screens */
      margin-right: 0; /* Remove margin-right */
    }
    .step-text {
      margin-top: 5px; /* Adjust margin for smaller screens */
      text-align: center;
      font-size: 14px;
    }
   
  
  }
  