/* Desktop View */
@media (min-width: 768px) {
    .technical-error-container{
      display: grid;
      grid-template-columns: 1fr 1fr; /* Two equal columns */
      gap: 20px; /* Gap between columns */
      margin: 0 auto; /* Center align horizontally */
      max-width: 100%; /* Limit maximum width */
      padding: 20px; /* Add padding around the container */
      font-family: 'Open Sans', sans-serif;
    }
    .tr-text-section {
      padding-left: 40px;
    }
  .tr-text-section h1{
      font-size: 4rem;
      text-align: left;
      color: #3e2780;
      line-height: 1.2; /* Improve line spacing */
    }
    .tr-text-section p {
      font-size: 2rem; /* Adjust font size */
      text-align: left; /* Center align text */
      margin-bottom: 20px; /* Add space below */
    }
    .image-section-t img{
      margin-top: -40px;
      max-width: 70%;
      height: auto;
    }
    .apply-button-t{
      width: 80%;
      height: 50px;
      font-weight: bold;
      font-size: 28px;
      background-color: #3e2780;
      border: none;
      color: #fff;
      border-radius: 5px;
      
    }
  
  }
  
  /* Mobile View */
  @media (max-width: 767px) {
   
  .technical-error-container {
    display: flex; /* Use flexbox for mobile layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items */
  }

  .tr-text-section {
    text-align: center; /* Center align text */
    padding: 0 20px; /* Adjust padding */
    order: 2; /* Change order to place text below image */
  }

  .image-section-t {
    order: 1; /* Change order to place image above text */
    margin-bottom: 20px; /* Add space below image */
  }

  .image-section-t img {
    width: 100%; /* Make the image responsive */
      height: 80%;
      margin: 0 auto; /* Center align */
  }
  .apply-button-t{
    width: 50%;
    height: 40px;
    font-weight: bold;
    font-size: 25px;
    background-color: #3e2780;
    border: none;
    color: #fff;
    border-radius: 5px;
   margin-right: 50%;
    
  }
  .tr-text-section p {
    font-size: 20px; /* Adjust font size */
    text-align: left; /* Center align text */
    margin-bottom: 20px; /* Add space below */
  }
  .tr-text-section h1 {
    font-size: 40px; /* Adjust font size */
    text-align: left; /* Center align text */
    margin-bottom: 10px; /* Add space below */
  }
}

  